h1 {
    padding: 18px;
    height: 100px;
    background-color: aqua;
    color: red;
    text-align: CENTER;
    text-justify: CENTER;
    font-family: algerian;
    font-size: 245%;
    display: inline-flex;
}


#para1 {
    background-color: white;
    color: purple;
    font-size: medium;
    opacity: 100%;
}

#para2 {
    background-color: rgb(215, 215, 215);
    font-size: medium;
    color:red;

    /*            opacity: 70%;*/
}

li {
    background-color: whitesmoke;
    color: darkred;
}

ul {
    background-color: yellow;
    color: blue;
    font-size: larger;
    opacity: 70%;
}

.container {
    width: 5vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    float: center;
    justify-self: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid blue;
}





footer {
    height: 20vh;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin-left: 5px;
}

body {
    background-color: white;
    height: 140vh;
}

#des {
    color: white;
    font-size: larger;
}

#cnumber {
    /* background-color: orangered; */
    color: white;
    font-size: larger;
    font-family: sans-serif;
}

#submit {
    /* background-color: blue; */
    color: whitesmoke;
    cursor: pointer;
}

#name {
    /* background-color: hotpink; */
    color: white;
}

img {
    display: flex;
    flex-direction: right;
    align-content: center;
}

#ndiv {
    display: inline;
}

#_ {
    font-size: smaller;
    color: red;
}




nav {
    /* width: 1236px; */
    padding: 0px;
    margin: 0;
    height: 54px;
    text-align: center;
    background-color: green;
    color: white;
    /* opacity: unset; */

}

#calculator {
    background-color: rgb(137, 16, 151);
    width: 38vw;
    height: auto;
    display: inline;

}

#chhotu {
    text-align: left;
    text-decoration: underline;
    color: black;
    font-size: 45px;
}

#clock {
    font-family: verdana;
    font-size: larger;
    color: white;
    background-color: orangered;
    display: flex;
    float: right;
    height: 20px;
    width: 38vw;
    
}

h4 {
    font-size: medium;
}

#Opr1 {
    height: 20px;
    background-color: azure;
    color: white;
    width: auto;
}

#Opr2 {
    height: 20px;
    background-color: azure;
    color: rgb(252, 248, 247);
    width: auto;
}

#res {
    background-color: azure;
    color: rgb(249, 247, 247);
    height: 19px;
    width: auto;
}

#operator {
    background-color: green;
    height: 24px;
    width: auto;
    color: white;
    font-size: larger;
}

#operation {
    color: red;
    background-color: white;
    height: 23px;
    width: auto;
    font-size: large;
    font-family: algerian;
}

#time {
    height: 10px;
    width: auto;
    color: blue;
}




/* #search{
display: inline;
align-items:right;
} */

#syllabus {
    text-decoration: none;
    background-color: white;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: white;
}

a:hover {
    text-decoration: none;
    background-color: yellow;
    color: blue;
    font-family: verdana;
}

.menu {
    font-family: verdana;
    background-color: green;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
}

#home {
    margin-right: 15px;
    margin-left: 15px;
}

#image {
    margin-right: 15px;
    margin-left: 15px;
}

#studData {
    margin-right: 15px;
    margin-left: 15px;
}

#dep {
    margin-right: 15px;
    margin-left: 15px;
}

.menu:hover {
    opacity: 70%;
    font-family: times-new-roman;
    font-size: larger;
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    background-color: lightblue;
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
